    name: GitHub Classroom Workflow

    on: 
      push:
        branches:
        - '*'
        - '!badges'

    jobs:
      build:
        name: Autograding
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
            with:
              fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

          # - name: install npm mssql
          #   run: npm install mssql

          # - name: get tSQLt and extract
          #   run: |
          #     sudo apt-get install unzip
          #     mkdir tSQLt
          #     wget http://tsqlt.org/download/tsqlt/ -O tSQLt.zip
          #     ls -al
          #     unzip tSQLt.zip -d tSQLt/
          #     ls -al tSQLt/
          
          # - name: check files
          #   run: ls -al tSQLt

          - name: setup SQL Server instance
            run: docker run -v $(pwd):/app -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=Pa$$w0rd1234' -p 1433:1433 --name sql2017 -d mcr.microsoft.com/mssql/server:2017-latest

          - name: pause
            run: sleep 10

          - name: create command shortcut variable
            run: DBCMD="docker exec sql2017 /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Pa\$\$w0rd1234"

          # - name: run queries
          #   run: mssql -u sa -p Pa\$\$w0rd1234 .databases

          # add id to step so outputs can be referenced
          - uses: education/autograding@v1
            id: autograder
            continue-on-error: true

          # make dir for badges
          - name: badges branch and make dir
            run: |
              git checkout badges || git checkout -b badges
              mkdir -p .github/badges
            
          # make points badge
          - name: points badge
            uses: emibcn/badge-action@v1
            with:
              LABEL: 'Points'
              STATUS: ${{ steps.autograder.outputs.Points }}
              COLOR: cyan
              path: '.github/badges/points.svg'

          # - name: Upload badge as artifact
          #   uses: actions/upload-artifact@v2
          #   with:
          #     name: badge
          #     path: '.github/badges/points.svg'
          #     if-no-files-found: error

          # commit and push badge if score has changed
          - name: Commit badge
            run: |
              git config --local user.email "action@github.com"
              git config --local user.name "GitHub Action"
              git add '.github/badges/points.svg'
              git commit -m "Add/Update badge"
            continue-on-error: true
          - name: Push badge commit
            uses: ad-m/github-push-action@master
            if: ${{ success() }}
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              branch: badges

          # fail job if autograder returns failed
          # outcome can be 'success', 'failure', 'cancelled', or 'skipped'
          # trigger fail either on !success or on failure depending on preference
          - name: check autograder pass fail
            if: ${{ steps.autograder.outcome != 'success' }}
            # if: ${{ steps.autograder.outcome == 'failure' }}
            # if: ${{ failure }}
            run: exit 1

      lint:
        name: Linting
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v2

          # install linting tools
          - run: npm install tsqllint

          # lint files
          - name: Lint files
            run: npx tsqllint create-database.sql
            env:
              TSQLLINTRC: {
                "rules": {
                  "case-sensitive-variables": "error",
                  "conditional-begin-end": "error",
                  "cross-database-transaction": "error",
                  "data-compression": "error",
                  "data-type-length": "error",
                  "delete-where": "error",
                  "disallow-cursors": "error",
                  "full-text": "error",
                  "information-schema": "error",
                  "keyword-capitalization": "error",
                  "linked-server": "error",
                  "multi-table-alias": "error",
                  "named-constraint": "error",
                  "non-sargable": "error",
                  "object-property": "error",
                  "print-statement": "error",
                  "schema-qualify": "error",
                  "select-star": "error",
                  "semicolon-termination": "error",
                  "set-ansi": "off",
                  "set-nocount": "off",
                  "set-quoted-identifier": "error",
                  "set-transaction-isolation-level": "error",
                  "set-variable": "error",
                  "update-where": "error",
                  "upper-lower": "error",
                  "unicode-string": "error"
                }
              }
